<!-- home page -->

<header>
	<span class="material-symbols-outlined">foggy</span>
	<h1>Weather</h1>
</header>

<!-- formulário que está funcionando -->
<div class="form">
	<input type="text" [(ngModel)]="cityName" placeholder="Pesquise por Campinas, Monte Mor..." />
	<button type="submit" (click)="onSubmit()">
		<span class="material-symbols-outlined">
			search
		</span>
	</button>
</div>

<div class="container-result">
	<div class="container-child child-1">
		<p class="city-name font-poppins">{{ climate.name || "Campinas" }}</p>
		<h1 class="temperature font-poppins">{{ climate.temp || 32 }}°</h1>
		<p class="description font-poppins">{{ climate.description || "ensolarado" }}</p>
		<p class="temperature-range font-poppins">min. {{ climate.temp_min || 15 }}°  max. {{ climate.temp_max || 32 }}°</p>
	</div>
	<div class="container-child child-2">
		<div class="sub-container">
			<p class="font-poppins">sensação térmica</p>
			<h2 class="font-poppins">{{ climate.feels_like || 32 }}°</h2>
		</div>
		<div class="sub-container">
			<p class="font-poppins">umidade do ar</p>
			<h2 class="font-poppins">{{ climate.humidity || 31 }}%</h2>
		</div>
	</div>
</div>